@use './tokens' as *;

.rf-ui {
  display: flex;
  height: 100vh;
  overflow: hidden;

  width: 100%;
  margin: 0 auto;
}

.drawer-overlay {
  position: fixed;
  inset: 0;
  z-index: 199;
  background: rgba(0, 0, 0, 0.3);
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}